<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172959122674-pe8btu22hf6396ldv8q8fko889jmn3i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172959122674-pe8btu22hf6396ldv8q8fko889jmn3i7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172959122674-a0kf9qnbf4okrnj5b78lnco8be157skb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1dxLZuW2cdkWmg03jj7s86XwvpidWhU8</string>
	<key>GCM_SENDER_ID</key>
	<string>172959122674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veeresh.soughted</string>
	<key>PROJECT_ID</key>
	<string>soughted-c5511</string>
	<key>STORAGE_BUCKET</key>
	<string>soughted-c5511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172959122674:ios:e68bbc9af8cd04e897fc6b</string>
	<key>DATABASE_URL</key>
	<string>https://soughted-c5511.firebaseio.com</string>
</dict>
</plist>